<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.phonegap.mybusinessweb" versionCode="10" version="1.2.7">

  <name>
    MyBusiness
  </name>

  <description>
    Aplicación web de MyBusiness
  </description>

  <author>
    Sadzee Media
  </author>
  
  <icon src="change.png" />
  
<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />
  
<plugin name="cordova-plugin-whitelist" source="npm" />

</widget>