<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.myappd4dbbf" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-US">
<access origin="*" />
<access origin="http://192.168.100.15/" />
</widget>
